<ion-view view-title="{{'ABOUT' | translate}}">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>
  <ion-content>

    <div class="list">
      <div class="item item-divider">
        {{"NAME_LABEL" | translate}}
      </div>
      <p class="item">
        {{"APPNAME" | translate}}
      </p>
      <div class="item item-divider">
        {{"AUTHOR_LABEL" | translate}}
      </div>
      <p class="item">
        {{"AUTHORNAME" | translate}}
      </p>
      <div class="item item-divider">
        {{"VERSION_LABEL" | translate}}
      </div>
      <p class="item">
        {{"VERSION" | translate}}
      </p>
    </div>

  </ion-content>
</ion-view>
