<ion-view view-title="About">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>
  <!-- do you want padding? -->
  <ion-content>

    <div class="list">
      <div class="item item-divider">
        Appname
      </div>
      <p class="item">
        Twitter Client
      </p>
      <div class="item item-divider">
        Author
      </div>
      <p class="item">
        Severino Thomasin
      </p>
      <div class="item item-divider">
        Version
      </div>
      <p class="item">
        0.6
      </p>
    </div>

  </ion-content>
</ion-view>
