<ion-view view-title="Imprint">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>
  <!-- do you want padding? -->
  <ion-content>

    <div class="list">
      <div class="item item-divider">
        Company
      </div>
      <a class="item" href="#">
        M-Way Solutions GmbH
      </a>
      <div class="item item-divider">
        About us
      </div>
      <a class="item" href="#">
        Some Text Some Text Some Text Some Text<br/>
        Some Text Some Text Some Text Some Text
      </a>
      <div class="item item-divider">
        Where you can find us
      </div>
      <a class="item" href="#">
        Stresemannstrasse 79
        82392 Stuttgart
        Germany
      </a>
    </div>

  </ion-content>
</ion-view>
