<ion-view view-title="{{'IMPRINT' | translate}}">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>
  <!-- do you want padding? -->
  <ion-content>

    <div class="list">
      <div class="item item-divider">
        {{'COMPANY_LABEL' | translate}}
      </div>
      <p class="item">
        {{'COMPANY' | translate}}
      </p>
      <div class="item item-divider">
        {{'ABOUT_US_LABEL' | translate}}
      </div>
      <p class="item" ng-bind-html="'ABOUT_US' | translate">

      </p>
      <div class="item item-divider">
        {{'WHERE_TO_FIND' | translate}}
      </div>
      <p class="item">
        {{'STREET' | translate}}<br />
        {{'CITY' | translate}}<br />
        {{'COUNTRY' | translate}}
      </p>
    </div>

  </ion-content>
</ion-view>
