<ion-view view-title="Network">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>
  <!-- do you want padding? -->
  <ion-content>

    <div class="list">
      <div class="item item-divider">
        Type
      </div>
      <p class="item">
        {{networkC.controllerData.Networktype}}
      </p>
      <div class="item item-divider">
        State
      </div>
      <p class="item">
        {{networkC.controllerData.State}}
      </p>
    </div>

  </ion-content>
</ion-view>
